
= simple_form_for @event do |f|
  = f.input :name
  = f.datetime_picker 'start_at', :dateFormat => "yy-mm-dd"
  = f.datetime_picker 'end_at', :dateFormat => "yy-mm-dd"
  = f.input :description

  = f.button :submit
